<form>
        <h2 align="center">Add New Product</h2>
        <p>ID: <input type="text"
                              name="id"
                              [(ngModel)]="deviceDetail.id" /></p>
        <p>Serial: <input type="text"
                              name="name"
                              [(ngModel)]="deviceDetail.serialnumber" /></p>
        <p>Name: <input type="text"
                              name="description"
                              [(ngModel)]="deviceDetail.name" /></p>
        <p>Import Date: <input type="text"
                              name="location"
                              [(ngModel)]="deviceDetail.importdate" /></p>
        <p>Location: <input type="text"
                              name="id"
                              [(ngModel)]="deviceDetail.location_storage" /></p>
        <p>Status: <input type="text"
                              name="name"
                              [(ngModel)]="deviceDetail.status" /></p>
        <p>Detail: <input type="text"
                              name="description"
                              [(ngModel)]="deviceDetail.detail" /></p>
        <p>Image: <input type="file"(change)="selectFile($event)"><br><br>
        <p>Excel: <input type="file"(change)="XLStoJSON($event)"><br><br>
          
          <button type="submit"
                       class="btn btn-primary"
                       (click)="saveProduct()">Submit</button>
          <button type="button"
                       class="btn btn-warning"
                       (click)="toMain()">Cancel</button>
        </p>
</form>

<table class="sjs-table">
        <tr *ngFor="let row of data">
          <td *ngFor="let val of row">
            {{val}}
          </td>
        </tr>
      </table>
<!-- <button (click)="toMain()" >Back</button> -->
    

 