/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */
/* Navbar */
.nav .navbar-nav {
  font-size: 15px;
}
#searchForm {
  margin-right: 100px;
}
@media (max-width: 1200px) {
  #searchForm {
    display: none;
  }
}
.wrapper {
  text-align: center;
}


#btnhome {  
  margin-left: 121px;
  margin-top: 9px;
  width: 84px;
  height: 30px;
  text-align: center;  
  /* background: transparent; */
  border: none;
  color: rgb(0, 0, 0);   
  font-size:14px;
  font-weight:700;
  
}
img {
  width: 260px;
  height: auto;
}

